
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
.contact-content{
    height: 100vh;
    display: flex;
    margin-top: 32px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.contact-content::after{
    content: "";
     background-image: url(../img/image2.jfif) ;
     position: absolute;
     width: 100%;
     height: inherit;
     opacity: 0.15;
     border-radius: 15px;
     z-index: -1;
}

